color-picker {
  display: inline-block;
  max-width: 100%;

  & .picker {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    align-items: center;
    justify-content: space-evenly;
  }

  & .swatch {
    width: 24px;
    height: 24px;
    border: 2px solid #444;
    border-radius: 999px;
    cursor: pointer;
    padding: 0;
  }

  & .swatch[aria-checked='true'] {
    box-shadow: 0 0 0 2px #fff inset;
  }
}
